@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish;
}
:root {
    --color-primary: #00d4f6;
    --color-primary-accent: #01b9d5;
}
